
body {
  font-family: Roboto Mono;
  background-color: rgb(201, 201, 201);
  border-width: 50px;
    }

.top_bar{
  display: flex;
  border: 2px, solid, black;
}

.sronline{
  font-size: 23px;
  display: inline-block;
  background-color: rgb(150,150,150);
  border-width: 10px;
  border-color:black;
  border-radius: 1px;
  padding-left: 30px;
  padding-right: 250px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-right: 5px;
}

.section1, .section2, .section3, .section4{
  text-align: right;
  color: rgb(211, 211, 211);
  border-color: black;
  border-radius: 3px;
  padding-left: 135px;
  padding-right: 135px;
  padding-top: 5px;
  padding-bottom: 9px;
  margin-right: 7px;
}

.section1{
  background-color: rgb(169, 29, 43);

}
.section2{
  background-color: rgb(118, 169, 29);
}

.section3{
  background-color: rgb(180, 180, 74);
}
.section4{
background-color: rgb(102,134,166);
}

.toptext {
  font-family: Roboto Mono;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 20px;
}

.paragraph {
  font-family: Roboto Mono;
  max-width: 350px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.button1, .button2, .button3, .button4{
  font-family: Roboto Mono;
  font-size: 17px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 50px;
  border: 5px;
  border-color: black;
  border-width: 5px;
  border-radius: 16px;
  background-color: rgb(150,150,150);
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  transition: background-color 0.50s, color 0.15s;
}

.button1:hover{
  background-color: rgb(169, 29, 43);
  cursor: pointer;
  color: rgb(201, 201, 201);
}

.button2:hover {
  background-color: rgb(118, 169, 29);
  cursor: pointer;
  color: rgb(201, 201, 201);
}

.button3:hover {
  background-color: rgb(180, 180, 74);
  cursor: pointer;
  color: rgb(201, 201, 201);
}
.button4:hover{
background-color: rgb(102,134,166);
cursor: pointer;
color: rgb(201, 201, 201);
}

.button1link {
  text-decoration: none;
}

.kat {
  margin-top: 100px;
  margin-right: 1550px;
} 

.credit, .dedicated {
  margin-right: 1550px; 
  font-size: 15px;
}

.login-link {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.login-link a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}
