body {
  font-family: Roboto Mono;
  background-color: rgb(201, 201, 201);
}

.toptext {
  font-family: Roboto Mono;
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 20px;
}

.paragraph {
  font-family: Roboto Mono;
  max-width: 350px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.fail {
  color: red;
  font-family: Roboto Mono;
  max-width: 350px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.login-form {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-family: Roboto Mono;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(230, 230, 230);
}

.login-button {
  font-family: Roboto Mono;
  font-size: 17px;
  padding: 15px 50px;
  border: 5px solid black;
  border-radius: 16px;
  background-color: rgb(150,150,150);
  display: block;
  margin: 30px auto;
  transition: background-color 0.50s, color 0.15s;
}

.login-button:hover {
  background-color: rgb(169, 29, 43);
  cursor: pointer;
  color: rgb(201, 201, 201);
}

.kat {
  margin-top: 100px;
} 

.credit, .dedicated {
  margin-right: 340px; 
  font-size: 15px;
}

.signup-link {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 20px;
}

.signup-link a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.singup-link a:hover {
  text-decoration: underline;
}

.back-link {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.back-link a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.back-link a:hover {
  text-decoration: underline;
}
