<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="" href="{{url_for('static', filename='index.css')}}">
    <link rel="stylesheet" type="" href="{{url_for('static', filename='character.css')}}">
    <link rel="stylesheet" type="" href="{{url_for('static', filename='signup.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap" rel="stylesheet">
    <title></title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  <p>minecraft username: {{mc}}</p>
    <a href="{{url_for('dashboard')}}">dashboard</a>
  </div>

<h1>Characters</h1>
<div class='Characters'>
  <div class="box">
        {% if data == 'False'%}
          <p>No Characters</p>

        {%else%}
          <div class="char">
            {% for row in data%}
              <p>_____________________________________</p>
              <p>ID: {{row[0]}}</p>
              <p>Name: {{ row[1]}}</p>
              <p>Race: {{ row[2]}}</p>
              <p>Class: {{ row[3]}}</p>
              <p>Background: {{ row[4]}}</p>
              <p>Alignment: {{ row5}}</p>
              <p>Proficiencies: {{ row[6]}}</p>
              <p>Equipment: {{ row[7]}}</p>
              <p>Backstory: {{ row[8]}}</p>
          <div class="char_stat">
              <p>Health: </p>
              <p>XP: </p>
              <p>Items: </p>
              <p>Special: </p>
        </div>
            {%endfor%}
        {%endif%}
        </div>

  </div>

  <div class="box">
        <div class="right_text">
          <a href="">edit</a>
          <a href="">remove</a>
          
        </div>
    
  </div>
      
</div>
<h1>Character Creation</h1>
<div class="box">
    <form method='POST' action="">
      {{form.hidden_tag()}}
      {{form.name(class='input-field')}}
      {{form.race(class='input-field')}}
      {{form.hero_class(class='input-field')}}
      {{form.background(class='input-field')}}
      {{form.alignment(class='input-field')}}
      {{form.proficiencies(class='input-field')}}
      {{form.equipment(class='input-field')}}
      {{form.backstory(class='input-field')}}
      {{form.submit(class='signup-button')}}
    </form>
  </div>

  </body>
</html>
