<!DOCTYPE html>
<html>
  <title>
    sronline - login :)
  </title>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <p class="toptext">Hello my frein.</p>  
    <p class="paragraph">please login.</p>
    
    <div class="login-form">
      <form action="/login" method="post">
        {{form.hidden_tag()}}
        {{form.username(class='input-field')}}
        {{form.password(class='input-field')}}
        {{form.submit(class='login-button')}}
      </form>
    </div>

    <div class="signup-link">
      <p>don't have an account? <a href="{{ url_for('signup') }}">sign up</a></p>
    </div>

    <div class="kat">
  
      <pre>

      <p class="dedicated">dedicated to: reanna, for loving and always supporting me <3.</p>
    </div>
  </body>
</html>
