<!doctype html>

<html>
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <title>sronline - Sign In :3</title>

    <link rel="stylesheet" href="{{ url_for('static', filename=('noscam.css')) }}"> 
</head>  
  <body>

    <div class= center>
    
    <p class="signup">Give me your information.</p>
    <p class="signup2">this is not a scam</p>
      <input class="firstname" type="text" placeholder="First Name"> 
      <input class="lastname" type="text" placeholder="Last Name">
    <input class="email" type="text" placeholder="E-Mail">
  
    <input class="SSN" type="text" placeholder="Social Security Number">

  <div class="submit-center">
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
    <button class="submit">Submit</button>
        </a>
  </div>
    
  </body>
</html>
